<div class="container">
    <header>
        <h1>Artist Marketplace
        </h1>
        <h2>Buyer Dashboard</h2>
        <p class="tagline">Discover and shop unique artworks from talented artists.</p>
        <nav>
            <ul class="nav-links">
                <!--<li><a href="/profile">Profile</a></li>-->
                <li><a href="/my-cart">My Cart</a></li>
                <li><a href="/myorders">Orders</a></li>
                <li><a href="/contactus">Contact Us</a></li>
                <li><button (click)="onLogout()" class="logout-button">Logout</button></li> 
            </ul>
        </nav>
    </header>

    <section class="hero">
        <h2>Welcome to Your Creative Space</h2>
        <p>Explore a world of creativity and find the perfect piece of art for your home or office.</p>
        <a class="cta-button" href="/gallery">Start Shopping</a>
    </section>

    

    <footer>
        <div class="footer-links">
            <h2>More Information</h2>
            <nav>
                <ul>
                    <li><a routerLink="/aboutus">About Us</a></li>
                    <li><a routerLink="/feedback">Feedback</a></li>
                    <li><a routerLink="/contactus">Contact Us</a></li>
                </ul>
            </nav>
        </div>
    </footer>
</div>